body {
    background-color: #F1B152;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0;
}
.App {
    /* background-color: #F1B152; */
    width: 1000px;
    height: 919px;
    /* top: -23696px;
    left: 1694px; */
    position: relative;

}

.black {
    position: absolute;
    width: 80px;
    height: 122px;
    top: 398px;
    margin-left: 20px;
}

.black .avator {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: radial-gradient(43.18% 43.18% at 34.09% 35.8%, #787878 0%, #020202 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

    box-shadow: -3px -3.5px 4px 0px rgba(150, 150, 150, 0.32) inset;

    box-shadow: -0.5px -0.5px 2.5px 0px rgba(0, 0, 0, 0.25) inset;

    box-shadow: 0.5px 0.5px 2px 0px rgba(255, 255, 255, 0.7);

}
.white {
    position: absolute;
    width: 80px;
    height: 122px;
    top: 398px;
    margin-left: 900px;
}

.white .avator {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: radial-gradient(56.25% 56.25% at 34.09% 35.8%, #FFFFFF 0%, #D0D0D0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: -3px -3.5px 4px 0px rgba(255, 255, 255, 0.32) inset;

    box-shadow: -0.5px -0.5px 2.5px 0px rgba(133, 133, 133, 0.25) inset;
    
    box-shadow: 0.5px 0.5px 2px 0px rgba(255, 255, 255, 0.7);
    

}

canvas {
    z-index: 1;
    border:2px solid #000000;
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    pointer-events: none;
}
.score {
   margin-top: 10px;
}